<div id="l10n-buttons"
     class="buttons has-addons is-pulled-right"
     hx-swap="outerHTML"
     hx-target="#l10n-buttons"
		 >
  <button class="lang eng button is-clickable is-rounded is-small is-primary {{ '' if l10n_lang == 'eng' else 'is-light' }}"
          hx-get="/l10n/eng"
					>
    <img alt="English (US/UK flag)" src="{{ url_for('static', filename='img/usuk.svg') }}" width="28" height="15">
  </button>
  <button class="lang nob button is-clickable is-rounded is-small is-primary {{ '' if l10n_lang == 'nob' else 'is-light' }}"
          hx-get="/l10n/nob"
					>
    <img alt="Norsk (bokmål)" src="{{ url_for('static', filename='img/no.svg') }}" width="20" height="15">
  </button>
</div>
