<!doctype html>
<html>

<head>
  <title>RuMOR: Russian Mentor for Orthographic Rules</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <!--<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/main.css') }}>-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <script src={{ url_for('static', filename='js/htmx.min.js') }}></script>
  <script src={{ url_for('static', filename='js/main.js') }}></script>
  <script src="https://kit.fontawesome.com/52407cec7c.js" crossorigin="anonymous"></script>
</head>

<body>

<script>
document.body.addEventListener("setL10nLangForHighlightedTokenAndTag", function(evt){
  setL10nLangForHighlightedTokenAndTag(evt.detail.value)
})
</script>

<div class="box">
<header class="title">
  <h3>RuMOR</h3>

{% include 'l10n/l10n-buttons.html' %}

</header>

<p>Russian Mentor for Orthographic Rules</p>

{% include 'entry-form.html' %}

<footer class="footer">
  <div id="powered">
    {% include 'l10n/powered.html' %}
  </div>
</footer>
</div>
<div id="l10n-data" style="display:none"></div>

</body>
</html>
