<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/main.css') }}>
</head>

<body>
<header class="title">
	<h3>RuMOR</h3>
</header>
<!--
<p>Russian Mentor for Orthographic Rules</p>
-->


<div class="columns">
	<div class="column">
		<div id="text" class="box">{{ text_html|safe }}</div>
	</div>
	<div class="column is-narrow">
		<div id="error_readings" class="box"></div>
	</div>
	<div class="column">
		<div id="explanation" class="box content"></div>
	</div>
</div>

<p>
	<a class="button is-clickable is-link" href="/">Start over</a>
</p>

<footer class="footer">
	<p>Powered by <a href="https://github.com/reynoldsnlp/udar">udar</a>.</p>
</footer>

</body>

<script src="static/js/main.js"></script>

</html>